.evecontainer {
    width: 905px;
    height: 729px;
    margin: 28px;
    overflow: hidden;
    padding: 20px 23.5px 0px 22px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #FCFCFC;
    box-shadow: 0px 0px 0px 0px rgba(78, 81, 86, 0.03), 0px 2px 4px 0px rgba(78, 81, 86, 0.03), 0px 7px 7px 0px rgba(78, 81, 86, 0.03), 0px 16px 10px 0px rgba(78, 81, 86, 0.02), 0px 28px 11px 0px rgba(78, 81, 86, 0.00), 0px 44px 12px 0px rgba(78, 81, 86, 0.00);
}