.container {
   
    width: 281px;
    height: 440px;
    padding: 13px 18px;
    align-items: flex-start;
    align-content: flex-start;
    gap: -32px 12px;
    margin-right: 30px;
    flex-wrap: wrap;
    border-radius: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background: #FCFCFC;
    box-shadow: 0px 0px 0px 0px rgba(78, 81, 86, 0.03), 0px 2px 4px 0px rgba(78, 81, 86, 0.03), 0px 7px 7px 0px rgba(78, 81, 86, 0.03), 0px 16px 10px 0px rgba(78, 81, 86, 0.02), 0px 28px 11px 0px rgba(78, 81, 86, 0.00), 0px 44px 12px 0px rgba(78, 81, 86, 0.00);
}
.gridTypo{
    grid-row: 1;
    grid-column: 2;
    margin-top:auto;
    margin-bottom:auto
}
.gridform{
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
   grid-template-columns: 70px 40px;
   grid-template-rows: repeat(12,50px);
}